<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-cyan.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="bower_components/material-design-lite/material.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.js"></script>
    <script src="bower_components/sockjs-client/dist/sockjs-1.1.1.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/tracking/build/tracking-min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>3-Axis Robotic Arm Demo
            <small>kuka-kr5-r850</small>
        </h1>
    </header>
    <main id="main"
          @keydown.up="keyDownUp()"
          @keyup.up="keyUpUp()"
          @keydown.down="keyDownDown()"
          @keyup.down="keyUpDown()"
          @keydown.left="keyDownLeft()"
          @keyup.left="keyUpLeft()"
          @keydown.right="keyDownRight()"
          @keyup.right="keyUpRight()"
          @keydown.87="keyDownW()"
          @keyup.87="keyUpW()"
          @keydown.83="keyDownS()"
          @keyup.83="keyUpS()"
    >
        <h2>Camera Signals</h2>
        <div class="container">
            <h3>Pickup Assist Camera</h3>
            <div class="pickup-container">
                <img id="pickup-camera" style="width: 200px; height: 200px;" v-bind:src="pickupImageBase64"/>
            </div>
            <span>Detected Objects: {{ pickupObjects }}</span>
        </div>
        <div class="container">
            <h3>Classification Camera</h3>
            <div class="detection-container">
                <img id="detection-camera" style="width: 200px; height: 200px;" v-bind:src="detectionImageBase64"/>
            </div>
            <span>Classification: {{ objectClass }}</span>
        </div>
        <div class="container">
            <h3>Counter</h3>
            <div>Green: {{ greenCount }}</div>
            <div>Red: {{ redCount }}</div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h2>Joint Rotation</h2>
                <button>Manual</button>
                <table>
                    <thead>
                    <tr>
                        <td width="100"><strong>Joint</strong></td>
                        <td width="100"><strong>Current</strong></td>
                        <td><strong>Target</strong></td>
                    </tr>
                    </thead>
                    <tr>
                        <td>Base</td>
                        <td>{{basePosition}}</td>
                        <td>
                            <input v-model="baseTargetPosition" type="number" step="0.01"/>
                            <input v-model="baseTargetSpeed" type="number" step="0.1"/>
                            <button @click="baseGoto()">Set</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Main Arm</td>
                        <td>{{mainArmPosition}}</td>
                        <td>
                            <input v-model="mainArmTargetPosition" type="number" step="0.01"/>
                            <input v-model="mainArmTargetSpeed" type="number" step="0.1"/>
                            <button @click="mainArmGoto()">Set</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Forearm</td>
                        <td>{{secondArmPosition}}</td>
                        <td>
                            <input v-model="secondArmTargetPosition" type="number" step="0.01"/>
                            <input v-model="secondArmTargetSpeed" type="number" step="0.1"/>
                            <button @click="secondArmGoto()">Set</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Wrist</td>
                        <td>{{wristPosition}}</td>
                        <td>
                            <input v-model="wristTargetPosition" type="number" step="0.01"/>
                            <button @click="wristGoto()">Set</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Gripper</td>
                        <td>{{gripperPosition}}</td>
                        <td>
                            <input v-model="gripperTargetPosition" type="number" step="0.01"/>
                            <button @click="gripperGoto()">Set</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Hand</td>
                        <td>{{handPosition}}</td>
                        <td>
                            Settings
                        </td>
                    </tr>
                    <tr>
                        <td>Slider</td>
                        <td>{{sliderPosition}}</td>
                        <td>
                            <button @click="sliderPush()">Push</button>
                            <button @click="sliderBackUp()">Back up</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Adjuster</td>
                        <td>{{adjusterPosition}}</td>
                        <td>
                            <button @click="adjusterPush()">Push</button>
                            <button @click="adjusterBackUp()">Back up</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <h2>Saved Positions</h2>
                <ul class="state-list">
                    <li v-for="(p, index) in savedPositions" @click="gotoSavedPosition(index)">
                        {{p.name}}
                    </li>
                </ul>
                <div>
                    <input v-model="savePositionName" type="text"/>
                    <button @click="savePosition(savePositionName)">Save</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
