<!DOCTYPE html>
<html>

<head>
    <title>CDL Digital Twin Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-cyan.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="bower_components/material-design-lite/material.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.js"></script>
    <script src="bower_components/sockjs-client/dist/sockjs-1.1.1.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/tracking/build/tracking-min.js"></script>
    <script src="bower_components/plotly/plotly.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1>6-Axis Robotic Arm Twin
                <small>Kuka KR5-R850</small>
            </h1>
            <a href="https://github.com/rafaelkonlechner/cdl-digital-twin/blob/master/README.md" target="_blank">Setup Instructions</a>
        </header>
        <div class="blueprint">
            <div class="absolute blueprint-text small" style="top: 56%; left: 44%; height: 35px; text-align: left;">
                x: {{handPosition.x}}
                <br/> y: {{handPosition.y}}
                <br/> z: {{handPosition.z}}
            </div>
            <div class="absolute blueprint-text small" style="top: 36%; left: 44%; height: 35px; text-align: left;">
                contact: {{gripperHasContact}}
            </div>
            <div class="absolute blueprint-text small" style="top: 31%; left: 22%; height: 35px;">
                Detection Camera
            </div>
            <div class="absolute blueprint-text small" style="top: 34%; left: 56%; height: 35px;">
                Pickup Camera
            </div>
            <div class="blueprint-main">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--9-col">
                        <div class="blueprint-img">
                            <h2 class="blueprint-text">Testing Rig
                                <br/>
                                <small v-if="context">&mdash; {{context.testingRigState.name}}</small>
                            </h2>
                            <svg width="80%" height="100%" viewBox="0 0 1667 1667" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                                <g>
                                    <clipPath id="_clip1">
                                        <path d="M1666.67,1666.67l0,-1666.67l-1666.67,0l0,1666.67l1666.67,0Z" />
                                    </clipPath>
                                    <g clip-path="url(#_clip1)">
                                        <rect x="0" y="0" width="1666.67" height="1666.67" style="fill:#1e88e5;" />
                                    </g>
                                </g>
                                <path d="M615.735,1235.08c12.457,0 22.571,-10.113 22.571,-22.57l0,-170.654c0,-12.457 -10.114,-22.57 -22.571,-22.57l-149.887,0c-12.457,0 -22.57,10.113 -22.57,22.57l0,170.654c0,12.457 10.113,22.57 22.57,22.57l149.887,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M615.735,1450.87c12.457,0 22.571,-10.114 22.571,-22.57l0,-170.654c0,-12.457 -10.114,-22.571 -22.571,-22.571l-149.887,0c-12.457,0 -22.57,10.114 -22.57,22.571l0,170.654c0,12.456 10.113,22.57 22.57,22.57l149.887,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M615.735,1666.67c12.457,0 22.571,-10.114 22.571,-22.571l0,-170.654c0,-12.457 -10.114,-22.57 -22.571,-22.57l-149.887,0c-12.457,0 -22.57,10.113 -22.57,22.57l0,170.654c0,12.457 10.113,22.571 22.57,22.571l149.887,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M810.763,1666.67c12.457,0 22.57,-10.114 22.57,-22.571l0,-170.654c0,-12.457 -10.113,-22.57 -22.57,-22.57l-149.887,0c-12.457,0 -22.57,10.113 -22.57,22.57l0,170.654c0,12.457 10.113,22.571 22.57,22.571l149.887,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1005.79,1666.67c12.457,0 22.57,-10.114 22.57,-22.571l0,-170.654c0,-12.457 -10.113,-22.57 -22.57,-22.57l-149.887,0c-12.457,0 -22.571,10.113 -22.571,22.57l0,170.654c0,12.457 10.114,22.571 22.571,22.571l149.887,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1200.82,1235.08c12.457,0 22.571,-10.113 22.571,-22.57l0,-170.654c0,-12.457 -10.114,-22.57 -22.571,-22.57l-149.886,0c-12.457,0 -22.571,10.113 -22.571,22.57l0,170.654c0,12.457 10.114,22.57 22.571,22.57l149.886,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1200.82,1450.87c12.457,0 22.571,-10.114 22.571,-22.57l0,-170.654c0,-12.457 -10.114,-22.571 -22.571,-22.571l-149.886,0c-12.457,0 -22.571,10.114 -22.571,22.571l0,170.654c0,12.456 10.114,22.57 22.571,22.57l149.886,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1200.82,1666.67c12.457,0 22.571,-10.114 22.571,-22.571l0,-170.654c0,-12.457 -10.114,-22.57 -22.571,-22.57l-149.886,0c-12.457,0 -22.571,10.113 -22.571,22.57l0,170.654c0,12.457 10.114,22.571 22.571,22.571l149.886,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1268.12,1019.28c5.463,0 9.898,-4.436 9.898,-9.899l0,-65.737c0,-5.463 -4.435,-9.898 -9.898,-9.898l-869.567,0c-5.463,0 -9.899,4.435 -9.899,9.898l0,65.737c0,5.463 4.436,9.899 9.899,9.899l869.567,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M754.689,174.554c51.446,29.702 114.83,29.702 166.275,0l-83.137,-143.998l-83.138,143.998Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;" />
                                <path d="M837.827,38.098l-117.202,218.728" style="fill:#3677da;stroke:#fff;stroke-width:12.5px;"
                                />
                                <path d="M808.527,298.243l-290.448,579.615" style="fill:#1e88e5;stroke:#fff;stroke-width:4.17px;"
                                />
                                <path d="M867.127,298.243l290.448,579.615" style="fill:#1e88e5;stroke:#fff;stroke-width:4.17px;"
                                />
                                <path d="M520.112,1001.81c2.419,-6.372 3.692,-13.6 3.692,-20.958c0,-11.117 -2.904,-21.778 -8.072,-29.639l-38.977,0c-5.169,7.861 -8.072,18.522 -8.072,29.639c0,7.358 1.273,14.586 3.692,20.958l47.737,0Z"
                                    style="fill:#f00;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M609.25,1001.81c2.392,-6.299 3.651,-13.445 3.651,-20.718c0,-10.99 -2.871,-21.529 -7.98,-29.3l-38.531,0c-5.11,7.771 -7.98,18.31 -7.98,29.3c0,7.273 1.258,14.419 3.65,20.718l47.19,0Z"
                                    style="fill:#00cb00;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M837.827,38.098l117.201,218.728" style="fill:#3677da;stroke:#fff;stroke-width:12.5px;"
                                />
                                <circle cx="837.827" cy="129.07" r="27.49" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                            </svg>
                        </div>
                        <div class="blueprint-img">
                            <h2 class="blueprint-text">KR5-R850
                                <br/>
                                <small v-if="context">&mdash; {{context.roboticArmState.name}}</small>
                            </h2>
                            <svg width="80%" height="100%" viewBox="0 0 1667 1667" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                                <g>
                                    <clipPath id="_clip1">
                                        <path d="M1666.67,1666.67l0,-1666.67l-1666.67,0l0,1666.67l1666.67,0Z" />
                                    </clipPath>
                                    <g clip-path="url(#_clip1)">
                                        <rect x="0" y="0" width="1666.67" height="1666.67" style="fill:#1e88e5;" />
                                    </g>
                                </g>
                                <path d="M1558.29,588.777c0,4.905 -3.982,8.887 -8.887,8.887l-68.558,0c-4.905,0 -8.887,-3.982 -8.887,-8.887l0,-17.775c0,-4.905 3.982,-8.887 8.887,-8.887l68.558,0c4.905,0 8.887,3.982 8.887,8.887l0,17.775Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1477.04,596.394c0,9.11 -7.396,16.505 -16.505,16.505l-43.166,0c-9.11,0 -16.505,-7.395 -16.505,-16.505l0,-33.009c0,-9.11 7.395,-16.505 16.505,-16.505l43.166,0c9.109,0 16.505,7.395 16.505,16.505l0,33.009Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M309.003,747.477c0,0 25.285,76.075 16.023,221.18c-10.008,156.79 -56.65,276.503 -56.65,276.503l278.042,111.724c0,0 27.021,-241.505 19.044,-388.227c-7.071,-130.073 -30.47,-292.278 -30.47,-292.278l-225.989,71.098Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1172.33,366.597l-599.251,0l-17.774,230.571l601.79,-7.122l15.235,-223.449Z" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <path d="M251.871,1285.79c0,0 -163.99,163.355 -196.788,203.136c-7.538,9.143 0,35.549 0,35.549l401.194,0l66.341,-111.725l-270.747,-126.96Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M573.08,366.597c-166.88,7.191 -295.127,124.194 -309.782,290.738l154.985,13.638c2.912,-83.389 71.357,-149.485 154.797,-149.485l0,-154.891Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M727.971,366.597c-186.193,0 -364.908,103.034 -449.438,255.321l233.928,103.173c42.265,-76.144 122.414,-129.966 215.51,-129.966l0,-228.528Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M511.36,1540.93c0,-9.083 -7.373,-16.456 -16.456,-16.456l-478.448,0c-9.082,0 -16.456,7.373 -16.456,16.456l0,109.283c0,9.082 7.374,16.456 16.456,16.456l478.448,0c9.083,0 16.456,-7.374 16.456,-16.456l0,-109.283Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1284.06,433.886c0,-9.11 -7.396,-16.505 -16.505,-16.505l-33.01,0c-9.109,0 -16.504,7.395 -16.504,16.505l0,93.95c0,9.109 7.395,16.505 16.504,16.505l33.01,0c9.109,0 16.505,-7.396 16.505,-16.505l0,-93.95Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1385.62,430.077c0,-15.416 -12.516,-27.931 -27.931,-27.931l-55.863,0c-15.415,0 -27.931,12.515 -27.931,27.931l0,101.568c0,15.415 12.516,27.931 27.931,27.931l55.863,0c15.415,0 27.931,-12.516 27.931,-27.931l0,-101.568Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1558.29,367.866c0,-4.905 -3.982,-8.887 -8.887,-8.887l-68.558,0c-4.905,0 -8.887,3.982 -8.887,8.887l0,17.775c0,4.905 3.982,8.887 8.887,8.887l68.558,0c4.905,0 8.887,-3.982 8.887,-8.887l0,-17.775Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1477.04,360.249c0,-9.109 -7.396,-16.505 -16.505,-16.505l-43.166,0c-9.11,0 -16.505,7.396 -16.505,16.505l0,33.009c0,9.11 7.395,16.505 16.505,16.505l43.166,0c9.109,0 16.505,-7.395 16.505,-16.505l0,-33.009Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1418.63,612.899c7.007,0 12.696,-5.689 12.696,-12.696l0,-243.763c0,-7.007 -5.689,-12.696 -12.696,-12.696l-25.392,0c-7.007,0 -12.696,5.689 -12.696,12.696l0,243.763c0,7.007 5.689,12.696 12.696,12.696l25.392,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1666.23,394.841c1.813,-6.769 -2.209,-13.736 -8.978,-15.55l-88.296,-23.659c-6.769,-1.813 -13.736,2.21 -15.55,8.978l-6.571,24.527c-1.814,6.768 2.209,13.735 8.977,15.549l92.239,8.943c6.769,1.813 13.736,-2.209 15.55,-8.978l2.629,-9.81Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1666.23,561.802c1.813,6.769 -2.209,13.736 -8.978,15.55l-88.296,23.659c-6.769,1.813 -13.736,-2.21 -15.55,-8.978l-6.571,-24.527c-1.814,-6.768 2.209,-13.735 8.977,-15.549l92.239,-8.943c6.769,-1.813 13.736,2.209 15.55,8.978l2.629,9.81Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <circle cx="399.145" cy="657.335" r="135.847" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <circle cx="1167.25" cy="478.322" r="111.725" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <ellipse cx="399.145" cy="1321.34" rx="152.352" ry="157.43" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <ellipse cx="399.145" cy="1321.34" rx="58.975" ry="60.941" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <ellipse cx="399.145" cy="657.335" rx="58.975" ry="60.941" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <ellipse cx="1167.25" cy="478.322" rx="58.975" ry="60.941" style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;"
                                />
                                <circle cx="900.468" cy="481.882" r="36.65" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                                <circle cx="399.145" cy="657.335" r="36.65" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                                <circle cx="399.145" cy="1321.34" r="36.65" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                                <circle cx="255.68" cy="1595.57" r="36.65" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                                <circle cx="1511.46" cy="478.322" r="36.65" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                            </svg>
                        </div>
                        <div class="blueprint-img">
                            <h2 class="blueprint-text">Conveyor
                                <br/>
                                <small v-if="context">&mdash; {{context.conveyorState.name}}</small>
                            </h2>
                            <svg width="80%" height="100%" viewBox="0 0 1667 1667" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                                <g>
                                    <clipPath id="_clip1">
                                        <path d="M1666.67,1666.67l0,-1666.67l-1666.67,0l0,1666.67l1666.67,0Z" />
                                    </clipPath>
                                    <g clip-path="url(#_clip1)">
                                        <rect x="0" y="0" width="1666.67" height="1666.67" style="fill:#1e88e5;" />
                                    </g>
                                </g>
                                <path d="M1421.56,1212.5c4.764,0 8.632,-3.868 8.632,-8.632l0,-233.994c0,-4.764 -3.868,-8.631 -8.632,-8.631l-57.321,0c-4.764,0 -8.632,3.867 -8.632,8.631l0,233.994c0,4.764 3.868,8.632 8.632,8.632l57.321,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1599.31,1666.67c12.215,0 22.133,-9.918 22.133,-22.134l0,-661.157c0,-12.216 -9.918,-22.133 -22.133,-22.133l-146.985,0c-12.216,0 -22.133,9.917 -22.133,22.133l0,661.157c0,12.216 9.917,22.134 22.133,22.134l146.985,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M962.638,1258.07c-2.051,-2.051 -5.382,-2.051 -7.433,0l-251.875,251.875c-2.051,2.051 -2.051,5.382 0,7.433l24.682,24.682c2.052,2.052 5.383,2.052 7.434,0l251.874,-251.874c2.052,-2.052 2.052,-5.382 0,-7.434l-24.682,-24.682Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1428.05,1252.96c0,-2.9 -2.355,-5.256 -5.256,-5.256l-715.745,0c-2.901,0 -5.256,2.356 -5.256,5.256l0,34.906c0,2.901 2.355,5.256 5.256,5.256l715.745,0c2.901,0 5.256,-2.355 5.256,-5.256l0,-34.906Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1103.03,1233.9c8.094,0 14.665,-6.571 14.665,-14.665l0,-110.882c0,-8.094 -6.571,-14.665 -14.665,-14.665l-97.389,0c-8.094,0 -14.665,6.571 -14.665,14.665l0,110.882c0,8.094 6.571,14.665 14.665,14.665l97.389,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M965.526,1233.9c8.094,0 14.665,-6.571 14.665,-14.665l0,-110.882c0,-8.094 -6.571,-14.665 -14.665,-14.665l-97.389,0c-8.094,0 -14.665,6.571 -14.665,14.665l0,110.882c0,8.094 6.571,14.665 14.665,14.665l97.389,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M828.026,1233.9c8.094,0 14.665,-6.571 14.665,-14.665l0,-110.882c0,-8.094 -6.571,-14.665 -14.665,-14.665l-97.389,0c-8.094,0 -14.665,6.571 -14.665,14.665l0,110.882c0,8.094 6.571,14.665 14.665,14.665l97.389,0Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1162.99,964.508c0,-1.802 -1.464,-3.265 -3.266,-3.265l-21.688,0c-1.803,0 -3.266,1.463 -3.266,3.265l0,244.726c0,1.803 1.463,3.266 3.266,3.266l21.688,0c1.802,0 3.266,-1.463 3.266,-3.266l0,-244.726Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1355.61,1062.37c0,-4.072 -3.306,-7.378 -7.379,-7.378l-64.409,0c-4.072,0 -7.379,3.306 -7.379,7.378l0,49c0,4.073 3.307,7.379 7.379,7.379l64.409,0c4.073,0 7.379,-3.306 7.379,-7.379l0,-49Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M1276.44,1071.98c0,-2.476 -2.009,-4.485 -4.485,-4.485l-104.476,0c-2.475,0 -4.485,2.009 -4.485,4.485l0,29.787c0,2.475 2.01,4.485 4.485,4.485l104.476,0c2.476,0 4.485,-2.01 4.485,-4.485l0,-29.787Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M829.433,1512.42c0,-62.156 -50.462,-112.618 -112.618,-112.618l-581.295,0c-62.156,0 -112.618,50.462 -112.618,112.618c0,62.155 50.462,112.618 112.618,112.618l581.295,0c62.156,0 112.618,-50.463 112.618,-112.618Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:4.17px;" />
                                <path d="M802.35,1512.42c0,-42.502 -34.506,-77.008 -77.008,-77.008l-598.349,0c-42.502,0 -77.008,34.506 -77.008,77.008c0,42.502 34.506,77.008 77.008,77.008l598.349,0c42.502,0 77.008,-34.506 77.008,-77.008Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:20.83px;" />
                                <ellipse cx="730.447" cy="1512.42" rx="76.07" ry="77.008" style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;"
                                />
                                <ellipse cx="126.055" cy="1512.42" rx="76.07" ry="77.008" style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;"
                                />
                                <ellipse cx="274.028" cy="1512.42" rx="76.07" ry="77.008" style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;"
                                />
                                <ellipse cx="426.167" cy="1512.42" rx="76.07" ry="77.008" style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;"
                                />
                                <ellipse cx="578.307" cy="1512.42" rx="76.07" ry="77.008" style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;"
                                />
                                <path d="M346.28,240.566c43.36,25.034 96.782,25.034 140.142,0l-70.071,-121.367l-70.071,121.367Z"
                                    style="fill:#fff;stroke:#1e88e5;stroke-width:12.5px;" />
                                <path d="M416.351,125.556l-98.781,184.352" style="fill:#3677da;stroke:#fff;stroke-width:12.5px;"
                                />
                                <path d="M391.656,344.815l-244.799,488.518" style="fill:#3677da;stroke:#fff;stroke-width:4.17px;"
                                />
                                <path d="M441.047,344.815l244.798,488.518" style="fill:#3677da;stroke:#fff;stroke-width:4.17px;"
                                />
                                <path d="M416.351,125.556l98.781,184.352" style="fill:#3677da;stroke:#fff;stroke-width:12.5px;"
                                />
                                <circle cx="416.351" cy="201.77" r="29.795" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                                <circle cx="1219.72" cy="1086.87" r="29.795" style="fill:#18ffff;stroke:#00b8d4;stroke-width:4.17px;"
                                />
                            </svg>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--1-offset">
                        <h2 class="blueprint-text">Controls</h2>
                        <button class="tabs" v-bind:class="{'active-tab': !manualMode}" style="width: 68px" @click="manualMode = false">Automatic
                        </button>
                        <button class="tabs" v-bind:class="{'active-tab': manualMode}" @click="manualMode = true">
                            Manual
                        </button>
                        <div class="tab" v-if="!manualMode">
                            <svg width="90%" height="100%" viewBox="0 0 1667 2200" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                                <g>
                                    <clipPath id="_clip1">
                                        <path d="M1666.67,2200l0,-2200l-1666.67,0l0,2200l1666.67,0Z" />
                                    </clipPath>
                                    <g clip-path="url(#_clip1)">
                                        <rect x="0" y="0" width="1666.67" height="2200" style="fill:#1e88e5;" />
                                    </g>
                                </g>
                                <g>
                                    <path id="ready-path" v-bind:class="{'active-path': readyPathIsActive}" d="M1133.33,494.792c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,244.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="124.59px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Ready to pick</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="124.59px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Ready to pick</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="approach-path" v-bind:class="{'active-path': approachPathIsActive}" d="M1133.33,744.792c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,494.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="137.035px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Approach</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="137.035px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Approach</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="pickup-path" v-bind:class="{'active-path': pickupPathIsActive}" d="M1133.33,994.792c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,744.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="145.99px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Pickup</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="145.99px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Pickup</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="park-path" v-bind:class="{'active-path': parkPathIsActive}" d="M1133.33,1244.79c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,994.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="125.502px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Park
                                                <tspan x="157.925px 164.925px 172.711px " y="141.028px 141.028px 141.028px ">Tes</tspan>t Rig</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="125.502px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Park
                                                <tspan x="157.925px 164.925px 172.711px " y="141.028px 141.028px 141.028px ">Tes</tspan>t Rig</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="release-path" v-bind:class="{'active-path': releasePathIsActive }" d="M1133.33,1494.79c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,1244.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="141.317px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Release</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="141.317px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Release</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="idle-path" @click="gotoIdlePosition()" v-bind:class="{'active-path': idlePathIsActive }"
                                        d="M1133.33,244.792c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.083,0c-20.122,0 -36.459,16.337 -36.459,36.459l0,72.916c0,20.122 16.337,36.459 36.459,36.459l527.083,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,37.6506,-5.75)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="155.714px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Idle</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="155.714px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Idle</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="deposit-green-path" v-bind:class="{'active-path': depositGreenPathIsActive}" d="M743.75,1990.62c0,-20.122 -16.336,-36.458 -36.458,-36.458l-527.084,0c-20.122,0 -36.458,16.336 -36.458,36.458l0,72.917c0,20.122 16.336,36.458 36.458,36.458l527.084,0c20.122,0 36.458,-16.336 36.458,-36.458l0,-72.917Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,-351.933,1740.08)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="121.866px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Deposit Green</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="121.866px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Deposit Green</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="park-red-path" v-bind:class="{'active-path': parkRedPathIsActive}" d="M1522.92,1744.79c0,-20.122 -16.337,-36.459 -36.459,-36.459l-527.083,0c-20.122,0 -36.458,16.337 -36.458,36.459l0,72.916c0,20.122 16.336,36.459 36.458,36.459l527.083,0c20.122,0 36.459,-16.337 36.459,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,427.234,1494.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="137.821px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Park Red</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="137.821px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Park Red</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="park-green-path" v-bind:class="{'active-path': parkGreenPathIsActive}" d="M743.75,1744.79c0,-20.122 -16.336,-36.459 -36.458,-36.459l-527.084,0c-20.122,0 -36.458,16.337 -36.458,36.459l0,72.916c0,20.122 16.336,36.459 36.458,36.459l527.084,0c20.122,0 36.458,-16.337 36.458,-36.459l0,-72.916Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,-351.933,1494.25)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="131.207px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Park Green</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="131.207px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Park Green</text>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path id="deposit-red-path" v-bind:class="{'active-path': depositRedPathIsActive}" d="M1522.92,1990.62c0,-20.122 -16.337,-36.458 -36.459,-36.458l-527.083,0c-20.122,0 -36.458,16.336 -36.458,36.458l0,72.917c0,20.122 16.336,36.458 36.458,36.458l527.083,0c20.122,0 36.459,-16.336 36.459,-36.458l0,-72.917Z"
                                        style="fill:#fff;" />
                                    <g transform="matrix(5.02008,0,0,2,427.234,1740.08)">
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="128.479px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:none;">Deposit Red</text>
                                        </g>
                                        <g transform="matrix(0.83,0,0,2.08333,19.89,-141.917)">
                                            <text x="128.479px" y="141.028px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:14px;fill:#1e88e5;">Deposit Red</text>
                                        </g>
                                    </g>
                                </g>
                                <path d="M1230.21,1925l13.542,0l-20.833,20.833l-20.834,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M451.042,1925l13.541,0l-20.833,20.833l-20.833,-20.833l13.541,0l0,-62.5l14.584,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M840.625,429.167l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M848.958,175l13.542,0l-20.833,20.833l-20.834,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M840.625,679.167l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M840.625,929.167l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M840.625,1179.17l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <path d="M840.625,1429.17l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                    style="fill:#fff;" />
                                <g>
                                    <path d="M1071.88,1679.17l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                        style="fill:#fff;" />
                                    <path d="M609.375,1679.17l13.542,0l-20.834,20.833l-20.833,-20.833l13.542,0l0,-62.5l14.583,0l0,62.5Z"
                                        style="fill:#fff;" />
                                </g>
                                <g>
                                    <path d="M504.167,273.958l0,-13.541l20.833,20.833l-20.833,20.833l0,-13.541l-430.209,0l0,-14.584l430.209,0Z"
                                        style="fill:#fff;" />
                                    <path d="M73.958,275l14.584,0l0,1912.5l-14.584,0l0,-1912.5Z" style="fill:#fff;" />
                                    <rect x="73.958" y="2172.92" width="375" height="14.583" style="fill:#fff;" />
                                    <path d="M434.375,2112.5l14.583,0l0,75l-14.583,0l0,-75Z" style="fill:#fff;" />
                                </g>
                                <g>
                                    <path d="M1162.5,269.792l0,-13.542l-20.833,20.833l20.833,20.834l0,-13.542l430.208,0l0,-14.583l-430.208,0Z"
                                        style="fill:#fff;" />
                                    <path d="M1592.71,270.833l-14.583,0l0,1912.5l14.583,0l0,-1912.5Z" style="fill:#fff;"
                                    />
                                    <rect x="1217.71" y="2168.75" width="375" height="14.583" style="fill:#fff;" />
                                    <path d="M1232.29,2108.33l-14.584,0l0,75l14.584,0l0,-75Z" style="fill:#fff;" />
                                </g>
                            </svg>
                            <div style="height: 36px;">
                                <button class="tabs active-tab" style="width: 68px" @click="toggleAutoPlay()">
                                    <span v-if="!autoPlay">
                                        <i class="material-icons" style="font-size: 10px; position: relative; top: 1px;">play_arrow</i>
                                        Start</span>
                                    <span v-if="autoPlay">
                                        <i class="material-icons" style="font-size: 10px; position: relative; top: 1px;">stop</i>
                                        Stop</span>
                                </button>
                            </div>
                        </div>
                        <div class="tab" v-if="manualMode">
                            <table class="control-table">
                                <thead>
                                    <tr>
                                        <td>
                                            <strong>Joint</strong>
                                        </td>
                                        <td>
                                            <strong>Current</strong>
                                        </td>
                                        <td>
                                            <strong>Target</strong>
                                        </td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Base</td>
                                    <td>{{basePosition}}</td>
                                    <td>
                                        <input v-model="baseTargetPosition" type="number" step="0.01" />
                                        <button @click="baseGoto()">Set</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Main Arm</td>
                                    <td>{{mainArmPosition}}</td>
                                    <td>
                                        <input v-model="mainArmTargetPosition" type="number" step="0.01" />
                                        <button @click="mainArmGoto()">Set</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Forearm</td>
                                    <td>{{secondArmPosition}}</td>
                                    <td>
                                        <input v-model="secondArmTargetPosition" type="number" step="0.01" />
                                        <button @click="secondArmGoto()">Set</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wrist</td>
                                    <td>{{wristPosition}}</td>
                                    <td>
                                        <input v-model="wristTargetPosition" type="number" step="0.01" />
                                        <button @click="wristGoto()">Set</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gripper</td>
                                    <td>{{gripperPosition}}</td>
                                    <td>
                                        <input v-model="gripperTargetPosition" type="number" step="0.01" />
                                        <button @click="gripperGoto()">Set</button>
                                        <small v-if="gripperHasContact">has-contact</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Slider</td>
                                    <td>{{sliderPosition}}</td>
                                    <td>
                                        <button>Push</button>
                                        <button>Pull</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Adjuster</td>
                                    <td>{{adjusterPosition}}</td>
                                    <td>
                                        <button>Push</button>
                                        <button>Pull</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Platform</td>
                                    <td>{{platformPosition}}</td>
                                    <td>
                                        <button>Tilt</button>
                                        <button>Level</button>
                                    </td>
                                </tr>
                            </table>
                            <div style="height: 36px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main id="main">
            <div class="mdl-grid" style="width: 90vw;">
                <div class="mdl-cell mdl-cell--4-col">
                    <h2 style="display: inline-block;">Sensor Monitors</h2>
                    <button @click="toggleRecording()">
                        <i class="material-icons" v-bind:class="{ red: recording }" style="font-size: 12px; position: relative; top: 2px;">fiber_manual_record</i>
                        <span v-if="!recording" style="font-size: 12px;">Record</span>
                        <span v-if="recording" style="font-size: 12px;">Stop Recording</span>
                    </button>
                    <button @click="resetData()">
                        <span style="font-size: 12px;">Reset</span>
                    </button>
                    <p>Monitor 1: Main Arm</p>
                    <div id="monitor-1" class="time-series"></div>
                    <p class="description">Real-time sensor measurements.</p>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <h2>Work Item Information</h2>
                    <div style="display: inline-block;">
                        <table>
                            <tr>
                                <td width="100">
                                    <strong>ID</strong>
                                </td>
                                <td>{{qrCode.id}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Batch-ID</strong>
                                </td>
                                <td>{{qrCode.batchId}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Color</strong>
                                </td>
                                <td>{{qrCode.color}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>URL</strong>
                                </td>
                                <td>
                                    <span v-if="qrCode.id === '-'">{{qrCode.id}}</span>
                                    <a v-if="qrCode.id !== '-'" href="#">http://cdl.io/{{qrCode.id}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="display: inline-block; float: right;">
                        <img v-if="qrCode.base64" style="width: 75px; height: 75px; margin: 0;" v-bind:src="qrCode.base64" />
                    </div>
                    <p class="description">Read current item info contained in the QR code, currently scanned by the testing rig.
                    </p>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset">
                    <h2>Camera Signals</h2>
                    <div style="display: inline-block; margin-right: 15px;">
                        <p>Detection Camera</p>
                        <div class="detection-container">
                            <img id="detection-camera" style="width: 200px; height: 200px;" v-bind:src="detectionImageBase64" />
                        </div>
                    </div>
                    <div style="display: inline-block;">
                        <p>Pickup Camera</p>
                        <div class="pickup-container">
                            <img id="pickup-camera" style="width: 200px; height: 200px;" v-bind:src="pickupImageBase64" />
                        </div>
                    </div>
                    <p class="description">The camera images of the two cameras mounted on the unit.</p>
                </div>
            </div>
        </main>
        <hr/>
        <article>
            <h1>Project description</h1>
            <p>This
                <a href="https://cdl-mint.big.tuwien.ac.at/" target="_blank">CDL-MINT</a> project explores technologies for the model-integrated development and monitoring of production
                systems. This includes the simulation of a 3D robotic arm model in Blender GE, a MQTT message pipeline, a
                controller that runs on a server and the dashboard that can be seen above. A detailed description of the
                setup can be found on
                <a href="https://github.com/rafaelkonlechner/cdl-digital-twin">GitHub</a>.
        </article>
        <footer>
            <h5>
                <strong>Christian Doppler Laboratory</strong>
                <br/>
                <small>on Model-Integrated Smart Production</small>
            </h5>
        </footer>
    </div>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>