header {
    text-align: center;
    padding: 2vh;
}

article {
    width: 40vw;
    margin: 0 auto 5vh;
    text-align: justify;
}

.description {
    margin-top: 10px;
    color: #757575;
    font-size: 0.9em;
}

header h1 {
    line-height: 1em;
}

a {
    color: #90A4AE;
}

footer {
    text-align: center;
    padding: 3vh;
    background-color: #F5F5F5;
    color: #9E9E9E;
    box-shadow: inset 0 0 1px #BDBDBD;
}

footer h5 {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4;
}

footer h5 small {
    font-size: .7em;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.5em;
    margin: 0.4em;
}

h3 {
    font-size: 1.3em;
    margin: 0.4em;
    color: darkslategray;
}

img {
    width: 100%;
}

.blueprint {
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    padding: 10px;
    background-color: #1E88E5;
    box-shadow: inset 0 0 5px #000000;
}

.blueprint-main {
    width: 85vw;
    margin: 0 auto;
}

.blueprint input {
    width: 40px;
}

.blueprint-img {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.blueprint-text {
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    line-height: 1;
}

.control-table {
    text-align: left;
    margin: 10% 5px;
    width: 100%;
    height: 100%;
    font-size: 11px;
}

.time-series {
    width: 380px;
    height: 200px;
}

.rect {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -1000px;
    top: -1000px;
}

.analog-text {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    color: yellow;
}

.state-list {
    list-style-type: none;
    cursor: default;
    padding: 0;
    margin: 0;
}

.info-window {
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px;
    position: absolute;
    top: 240px;
    left: 10%;
    z-index: 10;
}

.arrow-controls {
    position: absolute;
    z-index: 10;
}

.absolute {
    position: absolute;
    z-index: 10;
}

.small {
    font-size: 0.8em;
    line-height: 1.2em;
}

.title-bar {
    width: 100%;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #041a3c;
    color: white;
    text-align: right;
}

.plain {
    background: none;
    border: none;
    outline: none;
}

.right {
    float: right;
}

.active-path {
    stroke: #0d47a1;
    stroke-width: 13px;
}

.tabs {
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 2px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 10px;
    background-color: #1E88E5;
}

.active-tab {
    color: #1E88E5;
    background-color: white;
}

.red {
    color: red;
}
